html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    @include media("<=tablet") {
        font-size: 40%;
    }
}

body {
    /* 1.6 * 10px = 16px */
    font-size: 1.6rem;
}

p {
    /* 1.6 * 10px = 16px */
    font-size: 1.6rem;
}

h1 {
    /* 7.0 * 10px = 70px */
    font-size: 7rem;
}

h2 {
    /* 5.0 * 10px = 50px */
    font-size: 5rem;
}

h4 {
    /* 3.6 * 10px = 36px */
    font-size: 3.6rem;
}

.typo-empty {
    &-white {
        @include typo-empty-color($light-color)
    }
    &-blue {
        @include typo-empty-color($primary-color)
    }
}

.typo-solid {
    &-white {
        @include typo-color($light-color)
    }
    &-blue {
        @include typo-color($primary-color)
    }
}

.typo-ol {
    counter-reset: item;
    padding: 0;
    li {
        display: flex;
        h4 {
            position: relative;
            font-family: $font-primary;
            font-weight: bold;
            &::before {
                content: counter(item, decimal-leading-zero);
                counter-increment: item;
                position: absolute;
                bottom: -0.6rem;
                font-size: 6rem;
                opacity: 0.5;
            }
        }
    }
}