html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    @include media("<=tablet") {
        font-size: 40%;
    }
}

body {
    /* 1.6 * 10px = 16px */
    font-size: 1.6rem;
}

p {
    /* 1.6 * 10px = 16px */
    font-size: 1.6rem;
}

h1 {
    /* 7.0 * 10px = 70px */
    font-size: 7rem;
}

h2 {
    /* 5.0 * 10px = 50px */
    font-size: 5rem;
}

h3 {
    /* 3.6 * 10px = 36px */
    font-size: 3.6rem;
}

.typo-empty {
    font-family: Helvetica;
    color: transparent;
    -webkit-text-stroke: 1px $light-color;
    text-transform: uppercase;
}

.typo-ol {
    counter-reset: item;
    li {
        display: block;
        &::before {
            content: counter(item);
            counter-increment: item;
        }
    }
}