.btn {
    height: 60px;
    min-width: 120px;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    font-size: .75em;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 1rem;
    svg {
        vertical-align: middle;
    }
    &-pink {
        color: $light-color;
        @include button-bg($secondary-color);
        &.btn-border {
            @include button-border($secondary-color)
        }
    }
    &-blue {
        color: $light-color;
        @include button-bg($primary-color);
        &.btn-border {
            @include button-border($primary-color)
        }
    }
    &-white {
        color: $primary-color;
        @include button-bg($light-color);
        &.btn-border {
            @include button-border($light-color)
        }
    }
    @include media("<=tablet") {
        height: 30px;
        min-width: 60px;
    }
}