.header {
    background-image: url("../Images/hero.jpg");
    height: 100vh;
    /* Set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    position: relative;
    &-top {
        margin: 0;
        height: 60px;
        background-color: $tertiary-color;
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-paragraph {
            margin: 0;
            color: lighten($tertiary-color, 60%)
        }
        &-link {
            margin: 0;
            text-decoration: underline;
            color: lighten($secondary-color, 10%);
            margin-left: 1rem;
        }
    }
    &-center {
        color: $light-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &-bottom {
        color: $light-color;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        hr {
            border: 0;
            width: 50%;
            background-image: linear-gradient(to right, transparent, #D8D8D8, transparent);
            height: 1px;
        }
    }
    &-title {
        @include typo-title(70px)
    }
}