@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html,
body {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
*
* Testing
*
**/
@media (max-width: 320px) {
  .include-media-test {
    background-color: #def;
  }
  .include-media-test:before {
    content: "<=phone";
  }
}

@media (min-width: 321px) {
  .include-media-test {
    background-color: #abc;
  }
  .include-media-test:before {
    content: ">phone";
  }
}

@media (min-width: 769px) {
  .include-media-test {
    background-color: pink;
  }
  .include-media-test:before {
    content: ">tablet";
  }
}

@media (min-width: 815px) and (max-width: 1023px) {
  .include-media-test {
    background-color: #fed;
  }
  .include-media-test:before {
    content: ">=815px, <desktop";
  }
}

@media (min-width: 1024px) {
  .include-media-test {
    background-color: #fab;
  }
  .include-media-test:before {
    content: ">=desktop";
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .include-media-test:after {
    content: "Retina" !important;
  }
}

.header {
  background-image: url("../Images/hero.jpg");
  height: 100vh;
  /* Set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.header-top {
  margin: 0;
  height: 60px;
  background-color: #000095;
  text-align: center;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top-paragraph {
  margin: 0;
  color: #c8c8ff;
}

.header-top-link {
  margin: 0;
  text-decoration: underline;
  color: #fb6ca3;
  margin-left: 1rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

.navbar-brand {
  margin: 1rem;
  white-space: nowrap;
}

.navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-toggler {
  display: none;
  line-height: 1;
  color: #FFFFFF;
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 45px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 4px;
}

.navbar-toggler-icon {
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: #FFFFFF;
  position: relative;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar-toggler-icon:before, .navbar-toggler-icon:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: #FFFFFF;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar-toggler-icon:before {
  top: -10px;
}

.navbar-toggler-icon:after {
  bottom: -10px;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
}

.navbar-toggler.toggled span {
  background-color: transparent;
}

.navbar-toggler.toggled span:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.navbar-toggler.toggled span:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .navbar-collapse {
    display: block;
  }
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  color: #FFFFFF;
  margin: 1.2rem;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.btn {
  color: #FFFFFF;
  height: 60px;
  min-width: 140px;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-size: .75em;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 1rem;
}

.btn-pink {
  background: #F93B84;
}

.btn-pink:hover {
  background: #f8136b;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn-pink:active {
  background: #af0547;
}

.btn-pink + .btn-border {
  position: relative;
  margin: 0 auto;
}

.btn-pink + .btn-border:before {
  content: "";
  background: none;
  border: 1px solid #F93B84;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  pointer-events: none;
  margin: -1.25rem;
}

.btn-blue {
  background: #3B8EF9;
}

.btn-blue:hover {
  background: #1377f8;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn-blue:active {
  background: #0550af;
}

.btn-blue + .btn-border {
  position: relative;
  margin: 0 auto;
}

.btn-blue + .btn-border:before {
  content: "";
  background: none;
  border: 1px solid #3B8EF9;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  pointer-events: none;
  margin: -1.25rem;
}

.btn-white {
  background: #FFFFFF;
}

.btn-white:hover {
  background: #ebebeb;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn-white:active {
  background: #bfbfbf;
}

.btn-white + .btn-border {
  position: relative;
  margin: 0 auto;
}

.btn-white + .btn-border:before {
  content: "";
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  pointer-events: none;
  margin: -1.25rem;
}

.include-media-test {
  width: 100%;
  height: 200px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
}

.include-media-test:after {
  display: block;
  content: "Non-retina";
}
/*# sourceMappingURL=index.css.map */