/**
*
* Testing
*
**/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@media (max-width: 320px) {
  .include-media-test {
    background-color: #def;
  }
  .include-media-test:before {
    content: "<=phone";
  }
}

@media (min-width: 321px) {
  .include-media-test {
    background-color: #abc;
  }
  .include-media-test:before {
    content: ">phone";
  }
}

@media (min-width: 769px) {
  .include-media-test {
    background-color: pink;
  }
  .include-media-test:before {
    content: ">tablet";
  }
}

@media (min-width: 815px) and (max-width: 1023px) {
  .include-media-test {
    background-color: #fed;
  }
  .include-media-test:before {
    content: ">=815px, <desktop";
  }
}

@media (min-width: 1024px) {
  .include-media-test {
    background-color: #fab;
  }
  .include-media-test:before {
    content: ">=desktop";
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .include-media-test:after {
    content: "Retina" !important;
  }
}

html,
body {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #5A6488;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  /* 1.4 * 10px = 14px */
  font-size: 1.4rem;
}

p {
  /* 1.4 * 10px = 14px */
  font-size: 1.4rem;
}

h1 {
  /* 7.0 * 10px = 70px */
  font-size: 7rem;
}

h2 {
  /* 5.0 * 10px = 50px */
  font-size: 5rem;
}

h4 {
  /* 3.6 * 10px = 36px */
  font-size: 3.6rem;
}

h5 {
  /* 2.6 * 10px = 26px */
  font-size: 2.6rem;
}

h6 {
  /* 1.6 * 10px = 16px */
  font-size: 1.6rem;
}

.typo-empty-white {
  font-family: Helvetica;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #FFFFFF;
}

.typo-empty-blue {
  font-family: Helvetica;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #3B8EF9;
}

.typo-solid-white {
  font-family: Helvetica;
  color: #FFFFFF;
  text-transform: uppercase;
}

.typo-solid-blue {
  font-family: Helvetica;
  color: #3B8EF9;
  text-transform: uppercase;
}

.typo-ol {
  counter-reset: item;
  padding: 0;
}

.typo-ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typo-ol li h4 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.typo-ol li h4::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  position: absolute;
  bottom: -0.6rem;
  font-size: 6rem;
  opacity: 0.5;
}

.header {
  background-image: url("../Images/hero.jpg");
  height: 100vh;
  /* Set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  position: relative;
}

.header-top {
  margin: 0;
  height: 60px;
  background-color: #000095;
  text-align: center;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top-paragraph {
  margin: 0;
  color: #c8c8ff;
}

.header-top-link {
  margin: 0;
  text-decoration: underline;
  color: #fb6ca3;
  margin-left: 1rem;
}

@media (max-width: 1023px) {
  .header-top {
    height: 25px;
  }
}

.header-center {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 1023px) {
  .header-center {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}

.header-bottom {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2em;
}

.header-bottom hr {
  border: 0;
  width: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#D8D8D8), to(transparent));
  background-image: linear-gradient(to right, transparent, #D8D8D8, transparent);
  height: 1px;
  opacity: 1;
  margin: 1rem auto;
}

.bg-primary {
  background-color: rgba(59, 142, 249, 0.1) !important;
}

.main-bottom {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000095), to(#3B8EF9));
  background-image: linear-gradient(to bottom right, #000095, #3B8EF9);
  position: relative;
}

.main-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10rem solid #fff;
  border-left: 100vw solid transparent;
  width: 0;
}

.footer-top {
  background-color: #00007c;
}

.footer-input {
  color: #FFFFFF;
  width: 70%;
  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  padding: 1rem;
  font-weight: lighter;
}

.footer-input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-weight: lighter;
}

.footer-input:-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: lighter;
}

.footer-input::-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: lighter;
}

.footer-input::placeholder {
  color: #FFFFFF;
  font-weight: lighter;
}

.footer-input:focus ::-webkit-input-placeholder {
  color: transparent;
}

.footer-input:focus :-ms-input-placeholder {
  color: transparent;
}

.footer-input:focus ::-ms-input-placeholder {
  color: transparent;
}

.footer-input:focus ::placeholder {
  color: transparent;
}

.footer-bottom {
  background-color: #000062;
}

.footer-bottom hr {
  opacity: 1 !important;
}

.footer-container {
  display: table;
  /* Make the container element behave like a table */
  width: 100%;
  /* Set full-width to expand the whole page */
}

.footer-cell {
  display: table-cell;
  /* Make elements inside the container behave like table cells */
}

.footer-list {
  padding: 0;
}

.footer-list-item {
  list-style-type: none;
  color: #FFFFFF;
  margin: 1.2rem 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

.nav-brand {
  margin: 1rem;
  white-space: nowrap;
}

.nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-toggler {
  display: none;
  line-height: 1;
  color: #FFFFFF;
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 45px;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 4px;
}

.nav-toggler-icon {
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: #FFFFFF;
  position: relative;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-toggler-icon:before, .nav-toggler-icon:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: #FFFFFF;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-toggler-icon:before {
  top: -10px;
}

.nav-toggler-icon:after {
  bottom: -10px;
}

@media (max-width: 768px) {
  .nav-toggler {
    display: block;
  }
}

.nav-toggler.toggled span {
  background-color: transparent;
}

.nav-toggler.toggled span:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.nav-toggler.toggled span:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.nav-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .nav-collapse {
    display: none;
  }
  .nav-collapse.collapsed {
    background-color: #000095;
    position: absolute;
    top: 105px;
    width: 100%;
    height: calc(100vh - 105px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
  }
  .nav-collapse.collapsed ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .nav-collapse.collapsed ul li {
    list-style-type: none;
    color: #FFFFFF;
    margin: 1.2rem;
  }
  .nav-collapse.collapsed .nav-collapse-btn {
    margin-bottom: 2rem;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.nav-list-item {
  list-style-type: none;
  color: #FFFFFF;
  margin: 1.2rem;
}

@media (max-width: 768px) {
  .nav {
    background-color: #000095;
  }
}

.btn {
  height: 60px;
  min-width: 120px;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-size: .75em;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 1rem;
}

.btn svg {
  vertical-align: middle;
}

.btn-pink {
  color: #FFFFFF;
  background: #F93B84;
}

.btn-pink:hover {
  background: #f8136b;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn-pink:active {
  background: #af0547;
}

.btn-pink.btn-border {
  position: relative;
  margin: 0 auto;
}

.btn-pink.btn-border:before {
  content: "";
  background: none;
  border: 1px solid #F93B84;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  pointer-events: none;
  margin: -1.5rem;
}

.btn-blue {
  color: #FFFFFF;
  background: #3B8EF9;
}

.btn-blue:hover {
  background: #1377f8;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn-blue:active {
  background: #0550af;
}

.btn-blue.btn-border {
  position: relative;
  margin: 0 auto;
}

.btn-blue.btn-border:before {
  content: "";
  background: none;
  border: 1px solid #3B8EF9;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  pointer-events: none;
  margin: -1.5rem;
}

.btn-white {
  color: #3B8EF9;
  background: #FFFFFF;
}

.btn-white:hover {
  background: #ebebeb;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.btn-white:active {
  background: #bfbfbf;
}

.btn-white.btn-border {
  position: relative;
  margin: 0 auto;
}

.btn-white.btn-border:before {
  content: "";
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  pointer-events: none;
  margin: -1.5rem;
}

@media (max-width: 768px) {
  .btn {
    height: 30px;
    min-width: 60px;
  }
}

.explore {
  text-transform: uppercase;
  color: #3B8EF9;
}

.explore-btn {
  color: inherit;
  position: relative;
}

.explore-btn-outer-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  height: 55px;
  width: 55px;
  border: 1px solid #3B8EF9;
  border-radius: 50%;
  display: inline-block;
}

.explore-btn-inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: rgba(59, 142, 249, 0.4);
  border-radius: 50%;
  display: inline-block;
}

.explore-btn-inner-circle:hover {
  background: rgba(59, 142, 249, 0.7);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.explore-btn-inner-circle:hover > .explore-btn-icon {
  color: #FFFFFF;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.explore-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: inherit;
}

.modal__bg {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.19);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  opacity: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: modal-video;
          animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 100;
}

.modal__align {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  width: 800px;
  height: 500px;
  -webkit-box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07), 0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112), 0px 7.779px 7.30492px rgba(0, 0, 0, 0.035), 0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
          box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07), 0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112), 0px 7.779px 7.30492px rgba(0, 0, 0, 0.035), 0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
  border-radius: 20px;
  background: transparent;
  color: #000;
  margin: 0rem 4rem;
}

.modal__close {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.modal__close:hover {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.modal__video-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 37px;
}

.modal__video-style {
  border-radius: 20px;
  z-index: 100;
}

.modal__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  font-size: 40px;
  color: #1b6aae;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }
  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }
  .modal__video-align {
    bottom: 0px;
  }
  .modal__video-style {
    height: auto;
  }
}

.thumb {
  position: absolute;
  right: 0;
  bottom: 0;
  float: right;
  margin-right: 2em;
  border: 1px solid #D8D8D8;
  padding: 5px;
  height: 115px;
}

.thumb-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 190px;
  height: 100%;
}

.thumb-icon-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
}

.thumb-icon-circle:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.thumb-icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: block;
  margin: auto;
}

@media (max-width: 1024px) {
  .thumb {
    position: relative;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    margin: 0;
  }
}

.carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  overflow-x: scroll;
}

.carousel-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 550px;
}

.carousel-title {
  text-transform: uppercase;
}

.carousel-text {
  color: #FFFFFF;
  margin: 0;
}

.carousel-control-btn {
  color: inherit;
}

.carousel-control-btn-outer-circle {
  position: relative;
  cursor: pointer;
  height: 55px;
  width: 55px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
}

.carousel-control-btn-inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
}

.carousel-control-btn-inner-circle:hover {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.carousel-control-btn-inner-circle:hover > .explore-btn-icon {
  color: #FFFFFF;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.carousel-control-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: inherit;
}

.modal-signup__content {
  width: 800px;
  -webkit-box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07), 0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112), 0px 7.779px 7.30492px rgba(0, 0, 0, 0.035), 0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
          box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07), 0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112), 0px 7.779px 7.30492px rgba(0, 0, 0, 0.035), 0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
  border-radius: 20px;
  background: #FFFFFF;
  margin: auto 4rem;
}

.error {
  position: relative;
  padding-left: .5rem;
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 2.5rem;
}

.error:before, .error:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 2px;
  font-family: 'times new roman';
}

.error:after {
  margin: .5rem;
  height: 20px;
  width: 20px;
  border: 1px solid red;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  left: 0;
}

.error:before {
  color: red;
  content: "!";
  font-weight: bold;
  left: 1.3rem;
  bottom: .35rem;
  z-index: 2;
}

.success {
  color: green;
  background-color: rgba(0, 128, 0, 0.1);
  padding: .5rem;
  border-radius: .5rem;
}

@media screen and (max-width: 800px) {
  .modal-signup__content {
    margin: 0rem 1rem;
    height: 100vh;
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal-signup__content {
    height: 75vh;
    margin: 0;
    border-radius: unset;
    position: relative;
  }
  .modal-signup__form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 75%;
  }
}
/*# sourceMappingURL=index.css.map */