$primary-color:#3B8EF9;
$secondary-color:#F93B84;
$tertiary-color:#000095;
$font-color:#5A6488;
$light-color:#FFFFFF;
$dark-color:#000;
$font-primary:'Montserrat',
sans-serif;
$font-secondary:'Open Sans',
sans-serif;
$breakpoint: 799px;